<div class="overflow-x-auto mt-4">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Región</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of countries; let i = index">
        <th>{{ i + 1 }}</th>
        <td><img [src]="c.flags?.png" alt="flag" class="w-8 h-5 rounded-sm" /></td>
        <td>{{ c.name.common }}</td>
        <td>{{ c.capital?.[0] }}</td>
        <td>{{ c.region }}</td>
      </tr>
    </tbody>
  </table>
</div>
