<div class="overflow-x-auto mt-4">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Región</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
        <tr>
          <td>{{ index + 1 }}</td>
          <td>
            <img
              [src]="country.flagSvg"
              [alt]="country.name + ' flag'"
              width="50"
            />
          </td>
          <td>{{ country.name }}</td>
          <td>{{ country.capital }}</td>
          <td>{{ country.region }}</td>
        </tr>
      }
    </tbody>
  </table>
</div>
